<!-- comit -->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Proyectos</title>
       
    </head>
    <body>
        
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container" sec:authorize="hasRole('ROLE_ADMIN')"> <!--El boton 
                                                                          agregar se 
                                                                          presenta 
                                                                          solo si 
                                                                          el usuario 
                                                                          es admin  -->
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarProyecto">
                            <i class="fas fa-plus"></i> [[#{proyecto.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 2  ventana modal- agregar proyecto -->
        <section th:fragment="agregarProyecto">
            <div id="agregarProyecto" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{proyecto.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/proyecto/guardar}" th:object="${proyecto}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                  <div class="mb-3">
                                    <label for="nombre">[[#{proyecto.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{proyecto.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="imagen">[[#{proyecto.rutaImagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{proyecto.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
         <!-- 3 Sección principal para mostrar la informaccion de la entidad proyecto -->
       <section th:fragment="listadoProyectos" id="proyectos">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{proyecto.listado}]]</h4>
                            </div>
                            <div th:if="${proyectos != null and !proyectos.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>[[#{proyecto.descripcion}]]</th>
                                            <th>[[#{proyecto.activo}]]</th>
                                            <th></th>
                                           </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="proyecto, contador : ${proyectos}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${proyecto.descripcion}]]</td>
                                            <td th:text="${proyecto.activo} ? 'Activa' : 'Inactiva'" />

                                            <td>
                                                <a th:href="@{/proyecto/eliminar/}+${proyecto.idProyecto}"
                                                class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/proyecto/modificar/}+${proyecto.idProyecto}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil" ></i> [[#{accion.actualizar}]]</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${proyectos == null or proyectos.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{proyecto.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalProyectos}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarProyecto">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/proyecto/guardar}" 
                          th:object="${proyecto}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idProyecto" th:field="*{idProyecto}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{proyecto/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{proyecto.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">[[#{proyecto.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{proyecto.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${proyecto.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/proyecto/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/proyecto/eliminar/}+${proyecto.idProyecto}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
                        
         
    </body>
</html>
