<!-- comit -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        
        <title>TODO supply a title</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section th:fragment="hero" class="hero">

            <div class="contenido-hero">
                <h2>[[#{aplicacion.titulo}]]</h2>
                <p><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="60" height="60" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c5aa6a" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                        <path d="M9 10a0.5 .5 0 0 0 1 0v-1a0.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a0.5 .5 0 0 0 0 -1h-1a0.5 .5 0 0 0 0 1" />
                    </svg>
                </p><a class="boton" href="https://api.whatsapp.com/send?phone=50688030578&text=¡Hola%20CH%20Constructora!%20Quiero%20hablar%20con%20un%20agente.%20Mi%20nombre%20y%20asunto%20son%3A">[[#{plantilla.contacto}]]</a>
            </div>
        </section>
        
         <div class="main-content">
    <div th:fragment="inicioContent"  class="row">
        
      <div class="body-text">
        
        <div class="col-md-4 text01">
            <h3>[[#{plantilla.servicio1}]]</h3>
            <div class="iconos">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-money" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c5aa6a" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                <rect x="9" y="3" width="6" height="4" rx="2" />
                <path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                <path d="M12 17v1m0 -8v1" />
              </svg>
  
  
            </div>
            <p>[[#{plantilla.servicio1P}]]</p>
            <ul>
              <li>[[#{plantilla.servicio1L1}]]</li>
              <li>[[#{plantilla.servicio1L2}]]</li>
              <li>[[#{plantilla.servicio1L3}]]</li>
              <li>[[#{plantilla.servicio1L4}]]</li>

            
          
            </ul>
  
        </div>
           <div class="col-md-4 text02">
          <h3>[[#{plantilla.servicio2}]]</h3>
          <div class="iconos">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-search" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c5aa6a" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M14 3v4a1 1 0 0 0 1 1h4" />
              <path d="M12 21h-5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v4.5" />
              <circle cx="16.5" cy="17.5" r="2.5" />
              <line x1="18.5" y1="19.5" x2="21" y2="22" />
            </svg>



          </div>
          <p>[[#{plantilla.servicio2P}]]</p>
            
            <ul>
              <li>[[#{plantilla.servicio2L1}]]</li>
              <li>[[#{plantilla.servicio2L2}]]</li>
              <li>[[#{plantilla.servicio2L3}]]</li>
              <li>[[#{plantilla.servicio2L4}]]</li>
              <li>[[#{plantilla.servicio2L5}]]</li>
        
            </ul>
        </div>
        <div class="col-md-4 text01">
          <h3>[[#{plantilla.servicio3}]]</h3>
          <div class="iconos">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-money" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c5aa6a" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
              <rect x="9" y="3" width="6" height="4" rx="2" />
              <path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
              <path d="M12 17v1m0 -8v1" />
            </svg>


          </div>
          <p>[[#{plantilla.servicio3P}]]</p>
          <ul>
            <li>[[#{plantilla.servicio3L1}]]</li>
            <li>[[#{plantilla.servicio3L2}]]</li>
            <li>[[#{plantilla.servicio3L3}]]</li>
            <li>[[#{plantilla.servicio3L4}]]</li>

          
        
          </ul>
        </div>
       
        
          
      </div>
        
       
        
        
       
       


    </div>

        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
